In [1]:
import pandas as pd
agedata=pd.read_excel('C:/Users/user/Downloads/연령별데이터.xlsx')
del agedata["시도명"]
del agedata["데이터기준일자"]
del agedata["업종코드"]
del agedata["매장수"]
del agedata["지역구분"]
del agedata["성별"]
del agedata["업종명 대분류"]
del agedata["관광구분"]
del agedata["이용자 구분"]
pd.options.display.float_format = '{:.2f}'.format
agedata=agedata.dropna()

agedata

               년월  읍면동명       업종명   연령대     이용금액
0      2019-01-01   신효동  서양식 음식점업 50.00    11000
1      2019-01-01   신효동  서양식 음식점업 70.00    60000
2      2019-01-01   서홍동  서양식 음식점업 60.00    68000
3      2019-01-01   신효동  서양식 음식점업 40.00    50000
4      2019-01-01   월평동  서양식 음식점업 50.00    56000
...           ...   ...       ...   ...      ...
508083 2019-12-01  도련일동   한식 음식점업 40.00   854300
508084 2019-12-01   한경면       여관업 50.00    50000
508085 2019-12-01  도련이동   한식 음식점업 10.00    46500
508086 2019-12-01  도련일동   한식 음식점업 30.00  2224800
508087 2019-12-01  도련이동   한식 음식점업 50.00  1887000

[467184 rows x 5 columns]

In [52]:
agedata = agedata.sort_values(by=['읍면동명'] ,ascending=False)
a=agedata_group = agedata.groupby(["읍면동명"],as_index=False).sum()
a.index=a['읍면동명']
a.loc[["강정동","구좌읍"],"읍면동명"]="송산동"

a

      읍면동명       연령대         이용금액
읍면동명
송산동    송산동 314210.00  15826640656
건입동    건입동 402090.00  22335950067
송산동    송산동 408440.00  25295161055
남원읍    남원읍 426920.00  27531663612
내도동    내도동 152210.00   1679003436
...    ...       ...          ...
호근동    호근동 163400.00   3999279217
화북이동  화북이동 192050.00   7807841067
화북일동  화북일동 331320.00  16532549343
회수동    회수동 109660.00   1681445274
회천동    회천동  92800.00   3720556470

[73 rows x 3 columns]

In [55]:
#43 개 동분리
select = agedata["읍면동명"].isin(['건입동', '구좌읍', '남원읍', '노형동','대륜동', '대정읍', '대천동', '도두동', '동홍동', '봉개동',
       '삼도1동', '삼도2동', '삼양동', '서홍동', '성산읍', '송산동', '아라동', '안덕면', '애월읍',
       '연동', '영천동', '예래동', '오라동', '외도동', '용담1동', '용담2동', '우도면', '이도1동',
       '이도2동', '이호동', '일도1동', '일도2동', '정방동', '조천읍', '중문동', '중앙동', '천지동',
       '추자면','표선면', '한경면','한림읍', '화북동', '효돈동'])
agedata = agedata[select]
agedata

               년월 읍면동명                      업종명   연령대      이용금액
35941  2019-01-01  한림읍                  체인화 편의점 50.00   2896230
218968 2019-06-01  한림읍              차량용 주유소 운영업 40.00  21761884
33514  2019-01-01  한림읍                  수산물 소매업 50.00   6294000
41804  2019-02-01  한림읍                      여관업 40.00   8374550
350485 2019-09-01  한림읍                  골프장 운영업 40.00   5659800
...           ...  ...                      ...   ...       ...
337907 2019-09-01  건입동                  한식 음식점업 10.00    120000
142117 2019-04-01  건입동                 서양식 음식점업 60.00    563300
274023 2019-07-01  건입동  피자, 햄버거, 샌드위치 및 유사 음식점업 10.00    111500
337908 2019-09-01  건입동                  한식 음식점업 50.00  42401200
274031 2019-07-01  건입동  피자, 햄버거, 샌드위치 및 유사 음식점업 40.00   3454600

[185659 rows x 5 columns]

In [134]:
#소매업으로 분류
some_group=agedata[(agedata['업종명']=="과실 및 채소 소매업")
    |(agedata["업종명"]=="관광 민예품 및 선물용품 소매업")
   |(agedata["업종명"]=="수산물 소매업")
    |(agedata["업종명"]=="육류 소매업")
    |(agedata["업종명"]=="빵 및 과자류 소매업")
    |(agedata["업종명"]=="화장품 및 방향제 소매업")]
some_group["업종명"]="소매업"

       
some_group_1020=some_group[(some_group['연령대']==10.0)
                           |(some_group["연령대"]==20.0)]
some_group_1020["연령대"] = "청소년"

some_group_3050=some_group[(some_group["연령대"]==30.0)
                          |(some_group["연령대"]==40.0)
                          |(some_group["연령대"]==50.0)]
some_group_3050["연령대"] = "성인"
some_group_6070=some_group[(some_group["연령대"]==60.0)
                          |(some_group["연령대"]==70.0)]
some_group_6070["연령대"] = "노인"
list=[some_group_1020,some_group_3050,some_group_6070]
some=[]
some=[0]*3

for i in range(len(list)):
    age=list[i]
    data=age.groupby(["읍면동명","연령대","업종명"],as_index=False).mean()                        
    data.columns=['읍면동명','연령대',"업종명","1인당 이용금액"]
    some[i]=data
    print(data)

   읍면동명  연령대  업종명   1인당 이용금액
0   건입동  청소년  소매업  363012.17
1   구좌읍  청소년  소매업  350578.48
2   남원읍  청소년  소매업  204025.91
3   노형동  청소년  소매업  726853.14
4   대정읍  청소년  소매업  337653.87
5   동홍동  청소년  소매업  125546.38
6   봉개동  청소년  소매업   58531.39
7   서홍동  청소년  소매업   77436.75
8   성산읍  청소년  소매업  649675.40
9   안덕면  청소년  소매업  380468.27
10  애월읍  청소년  소매업  616169.68
11   연동  청소년  소매업 1349568.12
12  우도면  청소년  소매업  291886.23
13  조천읍  청소년  소매업  666168.11
14  중문동  청소년  소매업  282788.58
15  추자면  청소년  소매업  182651.62
16  표선면  청소년  소매업  295495.61
17  한경면  청소년  소매업  231766.25
18  한림읍  청소년  소매업  486753.20
   읍면동명 연령대  업종명   1인당 이용금액
0   건입동  성인  소매업 1247520.46
1   구좌읍  성인  소매업  424320.58
2   남원읍  성인  소매업  992359.90
3   노형동  성인  소매업 3368611.14
4   대정읍  성인  소매업 1156257.20
5   동홍동  성인  소매업 1094594.15
6   봉개동  성인  소매업  226464.88
7   서홍동  성인  소매업  237260.62
8   성산읍  성인  소매업 1820234.57
9   안덕면  성인  소매업  762466.89
10  애월읍  성인  소매업 1229672.10
11   연동  성인  소매업 2765587.88
12  우도면  성인  소매업  337448.39
13  조천읍  성인  소매업 1277948.87
14  중문동  성인  소매업  636045.34
15  추자면  성인  소매업  266630.34
16  표선면  성인  소매업 1914655.47
17  한경면  성인  소매업  389785.00
18  한림읍  성인  소매업 1379417.35
   읍면동명 연령대  업종명   1인당 이용금액
0   건입동  노인  소매업  703752.85
1   구좌읍  노인  소매업  274748.12
2   남원읍  노인  소매업  627490.39
3   노형동  노인  소매업 1766428.40
4   대정읍  노인  소매업  557489.91
5   동홍동  노인  소매업  617650.03
6   봉개동  노인  소매업  135106.63
7   서홍동  노인  소매업  173255.19
8   성산읍  노인  소매업  609105.27
9   안덕면  노인  소매업  237536.45
10  애월읍  노인  소매업  350556.39
11   연동  노인  소매업 1078202.88
12  우도면  노인  소매업   97758.15
13  조천읍  노인  소매업  670175.52
14  중문동  노인  소매업  341570.10
15  추자면  노인  소매업  316419.84
16  표선면  노인  소매업 2142027.18
17  한경면  노인  소매업  190029.38
18  한림읍  노인  소매업  887624.98

<ipython-input-134-907dd36c97a2>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  some_group["업종명"]="소매업"
<ipython-input-134-907dd36c97a2>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  some_group_1020["연령대"] = "청소년"
<ipython-input-134-907dd36c97a2>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  some_group_3050["연령대"] = "성인"
<ipython-input-134-907dd36c97a2>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  some_group_6070["연령대"] = "노인"

In [135]:
#식음료 으로 분류
food_group=agedata[(agedata['업종명']=="피자, 햄버거, 샌드위치 및 유사 음식점업")
    |(agedata["업종명"]=="한식 음식점업")
   |(agedata["업종명"]=="일식 음식점업")
    |(agedata["업종명"]=="서양식 음식점업")
    |(agedata["업종명"]=="중식 음식점업")
    |(agedata["업종명"]=="기타 외국식 음식점업")
    |(agedata["업종명"]=="비알콜 음료점업")]
food_group["업종명"]="식음료"

       
food_group_1020=food_group[(food_group['연령대']==10.0)
                           |(food_group["연령대"]==20.0)]
food_group_1020["연령대"] = "청소년"

food_group_3050=food_group[(food_group["연령대"]==30.0)
                          |(food_group["연령대"]==40.0)
                          |(food_group["연령대"]==50.0)]
food_group_3050["연령대"] = "성인"
food_group_6070=food_group[(food_group["연령대"]==60.0)
                          |(food_group["연령대"]==70.0)]
food_group_6070["연령대"] = "노인"
list=[food_group_1020,food_group_3050,food_group_6070]

food=[]
food=[0]*3
for i in range(len(list)):
    age=list[i]
    data=age.groupby(["읍면동명","연령대","업종명"],as_index=False).mean()                        
    data.columns=['읍면동명','연령대',"업종명","1인당 이용금액"]
    food[i]=data
    print(data)

   읍면동명  연령대  업종명   1인당 이용금액
0   건입동  청소년  식음료 1096266.86
1   구좌읍  청소년  식음료 3669363.75
2   남원읍  청소년  식음료  704608.95
3   노형동  청소년  식음료 6416138.07
4   대정읍  청소년  식음료 1157965.42
5   동홍동  청소년  식음료 1117562.61
6   봉개동  청소년  식음료  167788.62
7   서홍동  청소년  식음료  455732.12
8   성산읍  청소년  식음료 3396834.19
9   안덕면  청소년  식음료 2612912.54
10  애월읍  청소년  식음료 4813064.43
11   연동  청소년  식음료 7419830.05
12  우도면  청소년  식음료 1261052.73
13  조천읍  청소년  식음료 2425370.25
14  중문동  청소년  식음료 1472093.59
15  추자면  청소년  식음료   77645.99
16  표선면  청소년  식음료  845835.92
17  한경면  청소년  식음료  889438.42
18  한림읍  청소년  식음료 3044232.13
   읍면동명 연령대  업종명    1인당 이용금액
0   건입동  성인  식음료  3303521.86
1   구좌읍  성인  식음료  5499423.68
2   남원읍  성인  식음료  2881953.60
3   노형동  성인  식음료 19617204.44
4   대정읍  성인  식음료  5245511.05
5   동홍동  성인  식음료  4775700.38
6   봉개동  성인  식음료   921619.75
7   서홍동  성인  식음료  1516709.91
8   성산읍  성인  식음료  7077282.77
9   안덕면  성인  식음료  5836099.57
10  애월읍  성인  식음료  9042516.07
11   연동  성인  식음료 19922782.84
12  우도면  성인  식음료  1471637.98
13  조천읍  성인  식음료  7159970.69
14  중문동  성인  식음료  3593163.20
15  추자면  성인  식음료   616835.40
16  표선면  성인  식음료  3642164.66
17  한경면  성인  식음료  2032527.41
18  한림읍  성인  식음료  6459848.73
   읍면동명 연령대  업종명   1인당 이용금액
0   건입동  노인  식음료 1342249.34
1   구좌읍  노인  식음료 1592260.33
2   남원읍  노인  식음료 1390738.60
3   노형동  노인  식음료 4943490.34
4   대정읍  노인  식음료 2211790.00
5   동홍동  노인  식음료 1645599.00
6   봉개동  노인  식음료  526060.09
7   서홍동  노인  식음료  563402.38
8   성산읍  노인  식음료 2078379.64
9   안덕면  노인  식음료 1935509.56
10  애월읍  노인  식음료 2320349.33
11   연동  노인  식음료 4946233.28
12  우도면  노인  식음료  385627.38
13  조천읍  노인  식음료 2311337.39
14  중문동  노인  식음료  965933.25
15  추자면  노인  식음료  443113.96
16  표선면  노인  식음료 1630433.43
17  한경면  노인  식음료  821694.75
18  한림읍  노인  식음료 2207786.67

<ipython-input-135-de940afad6ee>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_group["업종명"]="식음료"
<ipython-input-135-de940afad6ee>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_group_1020["연령대"] = "청소년"
<ipython-input-135-de940afad6ee>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_group_3050["연령대"] = "성인"
<ipython-input-135-de940afad6ee>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_group_6070["연령대"] = "노인"

In [136]:
#숙박업 으로 분류
sleep_group=agedata[(agedata['업종명']=="피자, 햄버거, 샌드위치 및 유사 음식점업")
    |(agedata["업종명"]=="한식 음식점업")
   |(agedata["업종명"]=="일식 음식점업")
    |(agedata["업종명"]=="서양식 음식점업")
    |(agedata["업종명"]=="중식 음식점업")
    |(agedata["업종명"]=="기타 외국식 음식점업")
    |(agedata["업종명"]=="비알콜 음료점업")]
sleep_group["업종명"]="숙박업"

       
sleep_group_1020=sleep_group[(sleep_group['연령대']==10.0)
                           |(sleep_group["연령대"]==20.0)]
sleep_group_1020["연령대"] = "청소년"

sleep_group_3050=sleep_group[(sleep_group["연령대"]==30.0)
                          |(sleep_group["연령대"]==40.0)
                          |(sleep_group["연령대"]==50.0)]
sleep_group_3050["연령대"] = "성인"
sleep_group_6070=sleep_group[(sleep_group["연령대"]==60.0)
                          |(sleep_group["연령대"]==70.0)]
sleep_group_6070["연령대"] = "노인"
list=[sleep_group_1020,sleep_group_3050,sleep_group_6070]

sleep=[]
sleep=[0]*3
for i in range(len(list)):
    age=list[i]
    data=age.groupby(["읍면동명","연령대","업종명"],as_index=False).mean()                        
    data.columns=['읍면동명','연령대',"업종명","1인당 이용금액"]
    sleep[i]=data
    print(data)

   읍면동명  연령대  업종명   1인당 이용금액
0   건입동  청소년  숙박업 1096266.86
1   구좌읍  청소년  숙박업 3669363.75
2   남원읍  청소년  숙박업  704608.95
3   노형동  청소년  숙박업 6416138.07
4   대정읍  청소년  숙박업 1157965.42
5   동홍동  청소년  숙박업 1117562.61
6   봉개동  청소년  숙박업  167788.62
7   서홍동  청소년  숙박업  455732.12
8   성산읍  청소년  숙박업 3396834.19
9   안덕면  청소년  숙박업 2612912.54
10  애월읍  청소년  숙박업 4813064.43
11   연동  청소년  숙박업 7419830.05
12  우도면  청소년  숙박업 1261052.73
13  조천읍  청소년  숙박업 2425370.25
14  중문동  청소년  숙박업 1472093.59
15  추자면  청소년  숙박업   77645.99
16  표선면  청소년  숙박업  845835.92
17  한경면  청소년  숙박업  889438.42
18  한림읍  청소년  숙박업 3044232.13
   읍면동명 연령대  업종명    1인당 이용금액
0   건입동  성인  숙박업  3303521.86
1   구좌읍  성인  숙박업  5499423.68
2   남원읍  성인  숙박업  2881953.60
3   노형동  성인  숙박업 19617204.44
4   대정읍  성인  숙박업  5245511.05
5   동홍동  성인  숙박업  4775700.38
6   봉개동  성인  숙박업   921619.75
7   서홍동  성인  숙박업  1516709.91
8   성산읍  성인  숙박업  7077282.77
9   안덕면  성인  숙박업  5836099.57
10  애월읍  성인  숙박업  9042516.07
11   연동  성인  숙박업 19922782.84
12  우도면  성인  숙박업  1471637.98
13  조천읍  성인  숙박업  7159970.69
14  중문동  성인  숙박업  3593163.20
15  추자면  성인  숙박업   616835.40
16  표선면  성인  숙박업  3642164.66
17  한경면  성인  숙박업  2032527.41
18  한림읍  성인  숙박업  6459848.73
   읍면동명 연령대  업종명   1인당 이용금액
0   건입동  노인  숙박업 1342249.34
1   구좌읍  노인  숙박업 1592260.33
2   남원읍  노인  숙박업 1390738.60
3   노형동  노인  숙박업 4943490.34
4   대정읍  노인  숙박업 2211790.00
5   동홍동  노인  숙박업 1645599.00
6   봉개동  노인  숙박업  526060.09
7   서홍동  노인  숙박업  563402.38
8   성산읍  노인  숙박업 2078379.64
9   안덕면  노인  숙박업 1935509.56
10  애월읍  노인  숙박업 2320349.33
11   연동  노인  숙박업 4946233.28
12  우도면  노인  숙박업  385627.38
13  조천읍  노인  숙박업 2311337.39
14  중문동  노인  숙박업  965933.25
15  추자면  노인  숙박업  443113.96
16  표선면  노인  숙박업 1630433.43
17  한경면  노인  숙박업  821694.75
18  한림읍  노인  숙박업 2207786.67

<ipython-input-136-4d7112db40b1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep_group["업종명"]="숙박업"
<ipython-input-136-4d7112db40b1>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep_group_1020["연령대"] = "청소년"
<ipython-input-136-4d7112db40b1>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep_group_3050["연령대"] = "성인"
<ipython-input-136-4d7112db40b1>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep_group_6070["연령대"] = "노인"

In [137]:
#문화레저 으로 분류
activity_group=agedata[(agedata['업종명']=="스포츠 및 레크레이션 용품 임대업")
    |(agedata["업종명"]=="기타 수상오락 서비스업")]
activity_group["업종명"]="숙박업"

       
activity_group_1020=activity_group[(activity_group['연령대']==10.0)
                           |(activity_group["연령대"]==20.0)]
activity_group_1020["연령대"] = "청소년"

activity_group_3050=activity_group[(activity_group["연령대"]==30.0)
                          |(activity_group["연령대"]==40.0)
                          |(activity_group["연령대"]==50.0)]
activity_group_3050["연령대"] = "성인"
activity_group_6070=activity_group[(activity_group["연령대"]==60.0)
                          |(activity_group["연령대"]==70.0)]
activity_group_6070["연령대"] = "노인"
list=[activity_group_1020,activity_group_3050,activity_group_6070]

activity=[]
activity=[0]*3
for i in range(len(list)):
    age=list[i]
    data=age.groupby(["읍면동명","연령대","업종명"],as_index=False).mean()                        
    data.columns=['읍면동명','연령대',"업종명","1인당 이용금액"]
    activity[i]=data
    print(data)

   읍면동명  연령대  업종명   1인당 이용금액
0   건입동  청소년  숙박업  366785.33
1   구좌읍  청소년  숙박업   95087.10
2   남원읍  청소년  숙박업   48370.73
3   노형동  청소년  숙박업  982176.94
4   대정읍  청소년  숙박업  384569.01
5   동홍동  청소년  숙박업  683838.96
6   봉개동  청소년  숙박업   97000.00
7   서홍동  청소년  숙박업  106666.67
8   성산읍  청소년  숙박업   65849.09
9   안덕면  청소년  숙박업   64383.33
10  애월읍  청소년  숙박업  273314.05
11   연동  청소년  숙박업 6152371.82
12  우도면  청소년  숙박업  886705.98
13  조천읍  청소년  숙박업  629249.57
14  중문동  청소년  숙박업  176538.10
15  추자면  청소년  숙박업   16500.00
16  표선면  청소년  숙박업  224077.72
17  한경면  청소년  숙박업  192625.68
18  한림읍  청소년  숙박업  215534.25
   읍면동명 연령대  업종명    1인당 이용금액
0   건입동  성인  숙박업  1503910.09
1   구좌읍  성인  숙박업   266227.41
2   남원읍  성인  숙박업   354698.61
3   노형동  성인  숙박업  5574857.95
4   대정읍  성인  숙박업  1489728.26
5   동홍동  성인  숙박업  2292677.93
6   봉개동  성인  숙박업   109711.54
7   서홍동  성인  숙박업    99462.96
8   성산읍  성인  숙박업   159487.01
9   안덕면  성인  숙박업   226914.20
10  애월읍  성인  숙박업   999019.15
11   연동  성인  숙박업 21193884.65
12  우도면  성인  숙박업   649748.03
13  조천읍  성인  숙박업  1038887.16
14  중문동  성인  숙박업   795857.94
15  추자면  성인  숙박업   125027.78
16  표선면  성인  숙박업  1053089.33
17  한경면  성인  숙박업    97302.83
18  한림읍  성인  숙박업   677884.51
   읍면동명 연령대  업종명   1인당 이용금액
0   건입동  노인  숙박업  922087.21
1   구좌읍  노인  숙박업  103192.06
2   남원읍  노인  숙박업  204660.00
3   노형동  노인  숙박업 2702942.58
4   대정읍  노인  숙박업 1054895.40
5   동홍동  노인  숙박업  909778.76
6   봉개동  노인  숙박업   93142.86
7   서홍동  노인  숙박업   41666.67
8   성산읍  노인  숙박업  130091.67
9   안덕면  노인  숙박업  212317.48
10  애월읍  노인  숙박업  420092.68
11   연동  노인  숙박업 6178943.22
12  우도면  노인  숙박업  124621.21
13  조천읍  노인  숙박업  158900.79
14  중문동  노인  숙박업  345540.71
15  추자면  노인  숙박업  255857.14
16  표선면  노인  숙박업  202234.65
17  한경면  노인  숙박업  117869.05
18  한림읍  노인  숙박업  349962.39

<ipython-input-137-5025536189e7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_group["업종명"]="숙박업"
<ipython-input-137-5025536189e7>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_group_1020["연령대"] = "청소년"
<ipython-input-137-5025536189e7>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_group_3050["연령대"] = "성인"
<ipython-input-137-5025536189e7>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_group_6070["연령대"] = "노인"

In [148]:
data=pd.concat([sleep[0],sleep[1],sleep[2],food[0],food[1],food[2],
                activity[0],activity[1],activity[2],some[0],some[1],some[2]])
data.to_csv("19년 나이별 1인당이용금액.csv",index=True)